* {
  box-sizing: border-box;
}
.main {
  width: 700px;


  background: rgb(196, 231, 154);

  position: absolute;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100px;
  height: 60px;

  background: rgb(71, 116, 19);

  margin: 25px;
  margin-top: 30px;
}
.menu {
  display: flex;
  align-items: flex-end;

  margin-right: 20px;
}
.menu-item {
  width: 50px;
  height: 20px;

  background: rgb(107, 154, 51);

  margin: 5px;

}

 .intro {
   width: 650px;
   height: 350px;

   background: rgb(41, 77, 0);

   position: relative;
   left: 25px;

 }
.header {
  width: 150px;
  height: 30px;

  background: rgb(41, 77, 0);

  margin: 25px;
}
.secondary {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 20px;

}

.primary-item {
  height: 130px;
  flex-grow: 2;

  background: rgb(41, 77, 0);

  margin: 20px 10px;

}
.secondary-item {
  height: 130px;
  flex-grow: 1;

  background: rgb(41, 77, 0);
  margin: 20px 10px;
}
