* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
.intro {
  width: 100%;
  height: 100%;
  background: rgb(196, 231, 154);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  width: 300px;
  height: 40px;
  background: rgb(41, 77, 0);
  margin: 10px;
}
.paragraph {
  width: 400px;
  height: 110px;
  background: rgb(148, 193, 96);
  margin: 10px;
}

@media screen and (max-width: 620px) {
  .header {
    width: 150px;
  }
  .paragraph {
    width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    width: 100px;
  }
  .paragraph {
    width: 120px;
  }
}
