* {
  box-sizing: border-box;
}
html,
body {
height: 100%;
}
.main {
  width: 100%;
  height: 100%;

  background: rgb(196, 231, 154);


  padding: 30px;
}

.text {
  width: 350px;
}

.logo {
  height: 25px;
  width: 80px;

  background: rgb(41, 77, 0);
}

.links {
  display: flex;
  justify-content: space-around;

  padding: 15px 0;
}

.link {
  height: 20px;

  background: rgb(41, 77, 0);

  flex-grow: 1;
  margin-right: 15px;
}

.header {
  font-size: 25px;
  font-weight: bold;

  color: rgb(41, 77, 0);

  margin: 20px 0;
}

.paragraph {
  font-size: 15px;
  line-height: 20px;
  color: rgb(41, 77, 0);
}

.figure {
  height: 200px;
  width: 200px;
  border-radius: 100%;

  background: rgb(41, 77, 0);

  position: absolute;

  top: 50px;
  left: 450px;
}

@media screen and (max-width: 620px){
.header {
  width:200px;
}

.main {
    width: 250px;

  }

.paragraph {
      width: 150px;

    }
.text {
          width: 150px;

        }

}
