* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 50px;
}
.logo {
  width: 40px;
}
.social {
  position: absolute;
  right: 70px;
  display: flex;
  flex-direction: row;
}
.icon {
  width: 40px;
  height: 40px;

  border: 2px solid #53d3fb;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;

  margin-left: 15px;
}
.icon > img {
  width: 20px;
}

.content {
  width: 1000px;
  color: #ffffff;
  padding: 0 50px;
}
.title {
  font-size: 90px;
  padding-bottom: 30px;

  border-bottom: 4px  solid #ffffff;

}
.description {
  width: 700px;
  font-size: 20px;
}
.place {
  display: flex;
  align-items: flex-start;
  margin: 20px 20px 20px 0;
  font-size: 20px;
}

.button {
  display: inline-block;

  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  background-color: #00B2ED;
  border-radius: 5px;
  font-size: 20px;
}
.footer {
  height: 50px;
  width: 100%;
  background-color: #00B2ED;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}
a:hover {
  text-decoration: none;
}

a {
  text-decoration: underline;
}
.more-details {
 color: #ffffff;
}
