* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;

  background: rgb(196, 231, 154);

  position: absolute;
  padding: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px 0;
}
.logo {
  width: 200px;
  height: 50px;

  background: rgb(71, 116, 19);

}
.menu {
  display: flex;
  align-items: flex-end;


}
.menu-item {
  width: 40px;
  height: 15px;

  background: rgb(107, 154, 51);

  margin: 5px;

}

 .intro {

   height: 350px;

   background: rgb(41, 77, 0);

   position: relative;


 }
.secondary {
    display: flex;
    justify-content: space-around;

    margin-top: 20px;

 }
.secondary-item {
  height: 180px;
  flex-grow: 1;

  background: rgb(41, 77, 0);
  margin-left: 5px;
}
